*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.header,.main,.footer{
    float: left;
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* aside: rìa */
.header-left{
    float: left;
    width: 20%;

}
.header-right{
    float: right;
    width: 60%;
}
.header-right li{
    text-decoration: none;
}

.sidebar{
    float: right;
    width: 33.33%
}
header{
    padding: 20px 0;
    background-color: #ffffff;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #333131;
}
.menu li{
    float: right;
    margin-left: 35px;
    /*list-style: none; bỏ dấu chấm*/
    padding: 10px 0;
}
.menu li{
    list-style: none;
    /*first-child: phần tử đầu tiên*/
}
.menu li a {
    float: left;
    font-size: 18px;
    text-transform: uppercase;
    /*capitalize,lowercase,uppercase*/
    color: #333131;
    font-weight: 600;
}
#contact{
    color: #96f8e3;
    width: 60%;
}
.form{
    width: 45%;
}
.first{
    width: 40%;
    padding-bottom: 100px;
}
#contrainer{
    padding-top: 10%;
}
.name{
    float: left;
    width: 50%;


}
.mail{
    float: left;
    width: 50%;
}
.tittle{
    width: 100%;
}

