.h {
    height: 1px;


}
.head{
    margin:  20px 0px;
}
.center {
    height: 150px;
    width: 90%;
    background-color: gainsboro;
    margin:10px 70px;

}
.r.img {
    float:left;
    width: 10%;
}
.inf {
    float: left;
    width: 50%;
    height: 100%;
}
.trang {
    float: left;
    width: 30%;
}
.messi{
    height: 150px;
    width: 90%;
    background-color: gainsboro;
    margin: 10px;
}

