body{
    font-family: "Times New Roman";
    width: 800px;
    margin: 0px auto;
}
img{
    width: 120px;
    height: 110px;
    margin-left: 50px;
    float: left;
}
#p1{
    text-align: right;
}
h4{
    color: #F14576;
    font-style: italic;
    text-decoration: underline;
}
